# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# other stuff
models/*.onnx
models/*.ort
models/vocab.txt
models/config.json
onnxruntime-win-x64-*/
onnxruntime-linux-x64-*/
onnxruntime-osx-*/
*.zip
history.db
test_input.txt
test_stdout.txt
test_stderr.txt
*.pc
vcpkg_installed/
build/
benchmarks/results/